<h1>Chitter - Let's have some Chit-Chat</h1>
 <h2>Please write your peep in the following box and press submit once you're done.
 </h2>
 <form action="/message" method="post">
  <label for="msg">
    Peep
  <input type="text" name="msg">
  </label>
  <input type="submit" value="Submit">
</form>
